In [1]:
import pandas as pd
import plotly as py
import plotly.express as px
import numpy as np

In [110]:
df = pd.read_csv('data/Meteorite_Landings.csv')

In [111]:
df.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  float64
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [113]:
df.drop(columns='GeoLocation', inplace=True)
df.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000

In [114]:

# Created to count hoy many classes there is
df['count'] = pd.Series(np.ones(df.shape[0])).astype(int)

In [115]:
df.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,count
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,1
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,1
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,1
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,1
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,1

In [116]:
# Turning floats into integers
df['year'] = df['year'].fillna(0).apply(lambda x: int(x)).replace(0, np.nan)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      45716 non-null  object
 1   id        45716 non-null  int64
 2   nametype  45716 non-null  object
 3   recclass  45716 non-null  object
 4   mass (g)  45585 non-null  float64
 5   fall      45716 non-null  object
 6   year      45425 non-null  float64
 7   reclat    38401 non-null  float64
 8   reclong   38401 non-null  float64
 9   count     45716 non-null  int32
dtypes: float64(4), int32(1), int64(1), object(4)
memory usage: 3.3+ MB

In [118]:
# df['year'].replace(0, np.nan, inplace=True)
# df.info()

In [119]:
# df_c = df.dropna().astype({'year':int})
recclass_l = df[['recclass']].value_counts()[:8]
recclass_l

recclass
L6          8285
H5          7142
L5          4796
H6          4528
H4          4211
LL5         2766
LL6         2043
L4          1253
dtype: int64

In [125]:
# The most commont classes
dfclass = df[df['recclass'].isin(['L6', 'H5', 'L5', 'H6', 'H4', 'LL5', 'LL6', 'L4'])]
df_c = dfclass.groupby('recclass').sum()[['mass (g)', 'count']].sort_values(by='count', ascending=False).reset_index()
# Changing grams per kilogram
df_c['mass (g)'] = df_c['mass (g)'].apply(lambda x: round(x/1000, 3))
# Renaming columns
df_c = df_c.rename(columns={'mass (g)': 'Mass (kg)', 'recclass': 'Class', 'count': 'Amount'}, inplace=True)


df_c

In [ ]:
fig = px.bar(
    df_c,
    x='Class',
    y='Amount',
    color='Mass (kg)',
    title='Amount for the most common meteorite properties classified by mass'
)
fig.show()

In [124]:
df[df['recclass']=='Acapulcoite']

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,count
3,Acapulco,10,Valid,Acapulcoite,1914.000,Fell,1976.0,16.883330,-99.900000,1
1986,Allan Hills 84190,792,Valid,Acapulcoite,7.900,Found,1984.0,-76.683610,159.337830,1
2519,Allan Hills A77081,1394,Valid,Acapulcoite,8.600,Found,1977.0,-76.716670,159.666670,1
2971,Allan Hills A78230,1843,Valid,Acapulcoite,3.870,Found,1977.0,-76.716670,159.666670,1
3276,Allan Hills A81187,2147,Valid,Acapulcoite,40.000,Found,1981.0,-76.692780,159.318330,1
3350,Allan Hills A81261,2220,Valid,Acapulcoite,11.800,Found,1981.0,-76.691110,159.386950,1
3404,Allan Hills A81315,2273,Valid,Acapulcoite,2.500,Found,1981.0,-76.688610,159.368890,1
4788,Asuka 881902,4611,Valid,Acapulcoite,907.870,Found,1988.0,-72.000000,26.000000,1
7133,Dhofar 1222,31358,Valid,Acapulcoite,93.000,Found,2003.0,18.204170,54.056670,1
7141,Dhofar 125,6910,Valid,Acapulcoite,2697.000,Found,2000.0,18.986670,54.600500,1
7675,Dhofar 290,7073,Valid,Acapulcoite,62.000,Found,2001.0,19.315000,54.843330,1
7697,Dhofar 312,7095,Valid,Acapulcoite,354.000,Found,2001.0,18.988330,54.605000,1
9325,El MÃ©dano 096,56689,Valid,Acapulcoite,11.100,Found,2011.0,-24.850000,-70.533330,1
12429,Frontier Mountain 95029,10714,Valid,Acapulcoite,8.300,Found,1995.0,-72.991330,160.417000,1
12834,Graves Nunataks 98028,11020,Valid,Acapulcoite,22.400,Found,1998.0,-86.716670,-141.500000,1
13013,Great Sand Sea 032,51057,Valid,Acapulcoite,8.300,Found,2006.0,26.186670,25.455670,1
13942,Grove Mountains 021663,47835,Valid,Acapulcoite,2.190,Found,2003.0,-72.773611,75.339722,1
18025,LaPaz Icefield 031323,34976,Valid,Acapulcoite,3.100,Found,2003.0,NaN,NaN,1
23888,Meteorite Hills 01195,16427,Valid,Acapulcoite,98.700,Found,2001.0,-79.683330,159.750000,1
23891,Meteorite Hills 01198,16430,Valid,Acapulcoite,98.500,Found,2001.0,-79.683330,159.750000,1
23905,Meteorite Hills 01212,16444,Valid,Acapulcoite,31.400,Found,2001.0,-79.683330,159.750000,1
23925,Meteorite Hills 01232,16464,Valid,Acapulcoite,7.600,Found,2001.0,-79.683330,159.750000,1
23937,Meteorite Hills 01244,16476,Valid,Acapulcoite,76.500,Found,2001.0,-79.683330,159.750000,1
24952,Miller Range 07582,49709,Valid,Acapulcoite,12.400,Found,2007.0,0.000000,0.000000,1
26167,Monument Draw,16732,Valid,Acapulcoite,524.500,Found,1985.0,32.503330,-102.743330,1
26514,Northwest Africa 1052,30765,Valid,Acapulcoite,22.000,Found,2001.0,NaN,NaN,1
26516,Northwest Africa 1054,30766,Valid,Acapulcoite,86.000,Found,2001.0,NaN,NaN,1
26830,Northwest Africa 1617,17373,Valid,Acapulcoite,21.000,Found,1998.0,NaN,NaN,1
27664,Northwest Africa 2627,31126,Valid,Acapulcoite,68.000,Found,2004.0,NaN,NaN,1
27675,Northwest Africa 2656,32485,Valid,Acapulcoite,7500.000,Found,2003.0,NaN,NaN,1
27695,Northwest Africa 2699,33192,Valid,Acapulcoite,1294.000,Found,2005.0,NaN,NaN,1
27710,Northwest Africa 2714,33207,Valid,Acapulcoite,1656.000,Found,2004.0,NaN,NaN,1
27757,Northwest Africa 2775,33263,Valid,Acapulcoite,222.000,Found,2005.0,NaN,NaN,1
27843,Northwest Africa 2866,33340,Valid,Acapulcoite,213.000,Found,2005.0,NaN,NaN,1
27845,Northwest Africa 2871,33345,Valid,Acapulcoite,3467.000,Found,2005.0,NaN,NaN,1
27947,Northwest Africa 3008,17685,Valid,Acapulcoite,157.000,Found,2002.0,NaN,NaN,1
28193,Northwest Africa 3305,33629,Valid,Acapulcoite,82.100,Found,2006.0,0.000000,0.000000,1
28477,Northwest Africa 4236,35359,Valid,Acapulcoite,24.000,Found,2003.0,NaN,NaN,1
28642,Northwest Africa 4399,44941,Valid,Acapulcoite,210.000,Found,2005.0,NaN,NaN,1
28967,Northwest Africa 4816,45740,Valid,Acapulcoite,63.000,Found,2006.0,NaN,NaN,1
29954,Northwest Africa 6557,52932,Valid,Acapulcoite,68.000,Found,2010.0,0.000000,0.000000,1
30356,Northwest Africa 725,17807,Valid,Acapulcoite,3824.000,Found,NaN,30.600000,-5.050000,1
30407,Northwest Africa 7321,55623,Valid,Acapulcoite,109.000,Found,2012.0,0.000000,0.000000,1
30455,Northwest Africa 7384,56077,Valid,Acapulcoite,125.000,Found,2010.0,0.000000,0.000000,1
31364,Pecora Escarpment 01026,54775,Valid,Acapulcoite,29.000,Found,2002.0,-85.652050,-68.569330,1
36197,Roberts Massif 04228,36556,Valid,Acapulcoite,19.800,Found,2004.0,NaN,NaN,1
37762,Superior Valley 014,34064,Valid,Acapulcoite,1.770,Found,2002.0,35.236000,-117.042120,1
37933,Thiel Mountains 07012,51709,Valid,Acapulcoite,30.000,Found,2007.0,-85.165000,-94.718830,1
37985,Thiel Mountains 99002,23954,Valid,Acapulcoite,44.300,Found,2000.0,-85.160500,-94.570120,1
38396,Yabrin 003,48974,Valid,Acapulcoite,21.048,Found,2008.0,23.315220,48.629880,1
38489,Yamato 74063,24441,Valid,Acapulcoite,35.410,Found,1974.0,-71.500000,35.666670,1
44141,Yamato 981505,38128,Valid,Acapulcoite,56.950,Found,1998.0,0.000000,0.000000,1
44363,Yamato 982003,38625,Valid,Acapulcoite,19.840,Found,1998.0,0.000000,0.000000,1
44364,Yamato 982004,38626,Valid,Acapulcoite,6.170,Found,1998.0,0.000000,0.000000,1